.des {
    background-color: #1CD1B0;
    height: 30px;
}

.azul {
    background: #00669F;
    height: 100px;
    line-height: 3;
}

.art1 {
    height: 350px;
    width: 280px;
    padding-right:  10px;
    
}